:root {
  --black: #333333;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  margin-top: 1rem;
  border: 1px solid var(--black);
  background-image: url("./spinner.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-container {
  border: 1px solid var(--black);
  border-radius: 0 5px 5px 0;
  position: fixed;
  height: 50vh;
  top: 25vh;
  left: -1px;
  display: flex;
  padding: 2rem 1rem;
}

label {
  display: none;
}

#slider {
  width: 2rem;
  height: 100%;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}

.slider-values-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0
}
