main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  margin-top: 1rem;
  border: 1px solid #333333;
  background-image: url("./spinner.svg");
  background-repeat: no-repeat;
  background-position: center;
}

label {
  display: none;
}

#slider {
  color: blueviolet;
  width: 500px;
  position: fixed;
  left: 20px;
  top: 350px;
  transform: rotate(270deg);
}
