body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  margin-top: 1rem;
  border: 1px solid #333333;
  background-image: url('./spinner.svg');
  background-repeat: no-repeat;
  background-position: center;
}
